<%- include('header') %>
    <style>
        .custom-card {
            height: 300px;
        }
    </style>

    <div class="container-fluid">
        <div class="p-5 text-center bg-image" style="
      background-image: url('/img/aboutus.webp');
      height: 600px;
    ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="row text-white" style="margin-top: 170px;">
                    <div class="col-md-5 offset-md-4">
                        <h1 class="mb-3">Elevating Community Living with Advanced Security and Management </h1>
                        <p class="card-text fs-5">
                            Our platform is designed to redefine the residential experience within gated communities. At
                            GateHub, we prioritize the safety and well-being of residents by seamlessly integrating
                            advanced security measures, including visitor verification and real-time alerts. Beyond
                            security, our platform streamlines administrative tasks, providing residents with a
                            user-friendly interface to manage amenities, communicate with neighbors, and address
                            maintenance requests!


                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="text-center">
            <h3 class="text-primary">Team</h3>
            <p>Our Hardworking Team

            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-3 my-3 ">
                <div class="card custom">
                    <img src="/img/team-1.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Walter White
                        </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3 ">
                <div class="card ">
                    <img src="/img/team-2.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Sarah Jhonson
                        </h5>

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3 ">
                <div class="card ">
                    <img src="/img/team-3.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">William Anderson
                        </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3 ">
                <div class="card ">
                    <img src="/img/team-4.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Amanda Jepson
                        </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h2 class="text-center text-primary">
            Benefits of Visitor Management System

        </h2>
        <div class="row my-4">
            <div class="col-md-4 p-3 ">
                <div class="card  custom-card">
                    <div class="card-body">
                        <h4 class="my-auto d-flex my-2"> <i
                                class="far rounded-4 fa-file-lines fa-2x text-white bg-primary p-2"></i> <span
                                class="my-auto ms-3"> Paperless </span> </h4>

                        <p class="card-text-lh-lg fs-5 mt-3">
                            Your visitor log is saved in the cloud and may be retrieved at any time, from anywhere.


                        </p>
                    </div>
                </div>


            </div>
            <div class="col-md-4 p-3 ">
                <div class="card  custom-card">
                    <div class="card-body">
                        <h4 class="my-auto d-flex my-2"> <i
                                class="fas rounded-4 fa-shield fa-2x text-white bg-primary p-2"></i> <span
                                class="my-auto ms-3"> Secure Premise
                            </span> </h4>

                        <p class="card-text-lh-lg fs-5 mt-3">
                            It is based on advanced security to keep your premises safe and secure. Now, check in with
                            the pandemic proof feature.



                        </p>
                    </div>
                </div>


            </div>
            <div class="col-md-4 p-3 ">
                <div class="card  custom-card">
                    <div class="card-body">
                        <h4 class="my-auto d-flex my-2"> <i
                                class="fas rounded-4 fa-signal fa-2x text-white bg-primary p-2"></i> <span
                                class="my-auto ms-3"> Light Asset
                            </span> </h4>

                        <p class="card-text-lh-lg fs-5 mt-3">
                            Now you only need a tablet or a computer to manage all your visitors. Being responsive, it
                            can even be used via mobile.



                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-4 p-3 ">
                <div class="card  custom-card">
                    <div class="card-body">
                        <h4 class="my-auto d-flex my-2"> <i
                                class="fas  rounded-4 fa-user-group fa-2x text-white bg-primary p-2"></i> <span
                                class="my-auto ms-3"> Meeting Scheduler
                            </span> </h4>

                        <p class="card-text-lh-lg fs-5 mt-3">
                            Your visitor log is saved in the cloud and may be retrieved at any time, from anywhere.


                        </p>
                    </div>
                </div>


            </div>
            <div class="col-md-4 p-3 ">
                <div class="card  custom-card">
                    <div class="card-body">
                        <h4 class="my-auto d-flex my-2"> <i
                                class="fas rounded-4 fa-database fa-2x text-white bg-primary p-2"></i> <span
                                class="my-auto ms-3"> Secure Storage

                            </span> </h4>

                        <p class="card-text-lh-lg fs-5 mt-3">
                            It is based on advanced security to keep your premises safe and secure. Now, check in with
                            the pandemic proof feature.



                        </p>
                    </div>
                </div>


            </div>
            <div class="col-md-4 p-3 ">
                <div class="card  custom-card">
                    <div class="card-body">
                        <h4 class="my-auto d-flex my-2"> <i
                                class="fas rounded-4 fa-lock fa-2x text-white bg-primary p-2"></i> <span
                                class="my-auto ms-3"> Security

                            </span> </h4>

                        <p class="card-text-lh-lg fs-5 mt-3">
                            Now you only need a tablet or a computer to manage all your visitors. Being responsive, it
                            can even be used via mobile.



                        </p>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <%- include('footer') %>