<%- include('header') %>
<style>
    h2{
        text-decoration: underline;
    }
</style>

<% if (isError) { %>
    <script>
        alert("<%= message %>")
    </script>
<% } %>
    <body class="user-select-none">
        <section id="contact">
            <div class="portfolio text-center my-4">
            </div>
            
            <div class="container my-3">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <h2 class="text-primary text-start">Get in touch !!</h2>
                        <div class="card shadow-5-strong">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 my-3">
                                        <form action="/users/contact-us" method="POST">
                                            <div class="form-row my-3">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control form-control-lg" name="name"
                                                    id="name" placeholder=" Your name" required>
                                            </div>
                                            <div class="form-row my-3">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control form-control-lg" name="email"
                                                    id="email" placeholder=" Your Email" required>
                                            </div>
                                            <div class="form-row my-3">
                                                <label for="subject">Subject</label>
                                                <input type="text" class="form-control form-control-lg" name="subject"
                                                    id="subject" placeholder=" Your Subject" required>
                                            </div>
                                            <div class="form-row my-3">
                                                <label for="msg">Message</label>
                                                <textarea name="msg" id="msg" cols="65" rows="5"
                                                    class="form-control form-control-lg"
                                                    placeholder="Type your message.." required></textarea>
                                            </div>
                                            <div class="form-row my-3">
                                                <button class="btn btn-primary">Send</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4 text-center my-3">
                                        <br>
                                        <div class="row my-3">
                                            <div class="col">
                                                <i class="fa fa-phone fa-3x text-success"></i>
                                                <p class="fs-5 my-1">Call Us</p>
                                                <span>+91 1234567890</span>
                                            </div>
                                        </div>

                                        <div class="row my-3">
                                            <div class="col">
                                                <i class="fa fa-envelope fa-3x text-warning"></i>
                                                <p class="fs-5 my-1">Email Us</p>
                                                <span>testing@gmail.com</span>
                                            </div>
                                        </div>

                                        <div class="row my-3">
                                            <div class="col">
                                                <i class="fa fa-map-marker-alt fa-3x text-danger"></i>
                                                <p class="fs-5 my-1">Address</p>
                                                <span>Pune , Maharashtra</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </body>
    <%- include('footer') %>