<%- include('header') %>

    <div class="container-fluid">
        <div class="p-5 text-center bg-image" style="
          background-image: url('/img/hero.jpeg');
          height: 500px;
        ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="row text-white" style="margin-top: 170px;">
                    <div class="col-md-5 offset-md-4">
                        <h1 class="mb-3">Make your workplace Safe & Secure</h1>
                        <p class="card-text fs-5">
                            The safety of your employees and the environment in which they operate is paramount. The
                            future of modern offices will be check-ins. Employees and guests can check in safely with
                            the Visitor Management System, lowering the risk of infection.


                        </p>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row my-2">
            <div class="col-md-4">
                <div class="card shadow-5-strong border border-1 border-primary my-3">
                    <div class="card-body ">
                        <div class=" text-center">
                            <i class="far fa-circle-check fa-3x text-primary"></i>
                            <br>

                            <h4 class="text-primary fw-bold my-2">
                                Paperless Check-in
                            </h4>

                        </div>

                        <div class="card-text p-1 lh-lg">
                            The Visitor Management System allows guests to check in digitally, removing the need for
                            time-consuming paperwork. Visitor tracking software also gives your visitors a professional
                            first impression.


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-5-strong border border-1 border-primary my-3">
                    <div class="card-body ">
                        <div class=" text-center ">
                            <i class="far fa-bell fa-3x text-primary"></i
                            </svg>
                            <br>

                            <h4 class="text-primary fw-bold my-2">
                                Notifications

                            </h4>

                        </div>

                        <div class="card-text p-1 lh-lg">
                            When guests are there, the Visitor Management System alerts the host, so you don't have to
                            waste time looking for them. As soon as the visitor checks in, an instant alert notification
                            is provided to the host, saving time.




                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-hover shadow-5-strong border border-1 border-primary  my-3">
                    <div class="card-body ">
                        <div class=" text-center">
                            <i class="far fa-envelope fa-3x text-primary"></i>
                            <br>

                            <h4 class="text-primary fw-bold my-2">
                                Send Invites
                            </h4>

                        </div>

                        <div class="card-text p-1 lh-lg">
                            Send out invitations to your visitors in advance of their visit. The venue and host
                            information are included in the invitation. When a guest checks in, all he has to do is
                            select the invitee option on the Visitor Management app.




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row my-3">
            <div class="col-md-4">
                <img src="/img/slider-1.jpeg" class="rounded-6" height="400" alt="">
            </div>
            <div class="col-md-6 offset-md-2">
                <h2 class="mt-4 text-primary">
                    Keep & organise your visitor registrations at one place

                </h2>
                <p class="text-justify lh-lg">
                    The guest check-in procedure is sped up by Visitor Management Systems, which boosts productivity and efficiency. It's the most honourable and impressive way to greet your guests. People can check in even if no one is at the front desk, which saves a lot of time. Offices, salons, schools, co-working spaces, hotels, events, societies, and hospitals can all benefit from visitor management systems. It is extremely beneficial because the data may be recovered at any moment for security and other needs.


                </p>
            </div>
        </div>
        <div class="row my-3">
          
            <div class="col-md-4  ">
                <h2 class="mt-4 text-primary">
                    Visitor Reports

                </h2>
                <p class="text-justify lh-lg ">
                    Create real-time reports that include a detailed summary of visitor inflow, staff mask compliance, employee attendance records, alarms and symptoms reports, and more.




                </p>
                <h2 class="mt-4 text-primary">
                    Management

                </h2>
                <p class="text-justify lh-lg">
                    From a single workstation, the real-time dashboard allows admins to access, view, and manage data about visitors in multiple locations (remote location).






                </p>
            </div>
            <div class="col-md-3 offset-md-2">
                <img src="/img/slider-2.jpeg" class="rounded-6" height="400" alt="">
            </div>
        </div>
    </div>



    
    <%- include('footer') %>