
<%- include('header') %>

<% if (isError) { %>
    <script>
        alert("<%= message %>")
    </script>
<% } %>


<div class="container my-5 p-3">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <h3 class="text-primary">Admin SignUp</h3>

            <div class="card shadow-5-strong">
                <div class="card-body">
                    <form method="post" action="/admin/signup">

                        <div class="form-row my-2">
                            <label for="name" class="form-label">Full Name <span class="text-danger fw-bolder">*</span> </label>
                            <input type="text" class="form-control form-control-lg" required id="name" name="name" placeholder="Enter your full name">
                        </div>
                        <div class="form-row my-2">
                            <label for="email" class="form-label">Email <span class="text-danger fw-bolder">*</span></label>
                            <input type="email" class="form-control form-control-lg" required id="email" name="email" placeholder="Enter your email">
                        </div>
                        <div class="form-row my-2">
                            <label for="phone" class="form-label">Phone <span class="text-danger fw-bolder">*</span></label>
                            <input type="text" class="form-control form-control-lg" required id="phone" name="phone" placeholder="Enter your phone number">
                        </div>
                        <div class="form-row my-2">
                            <label for="password" class="form-label">Password <span class="text-danger fw-bolder">*</span></label>
                            <input type="password" class="form-control form-control-lg" required id="password" name="password" placeholder="Enter your password">
                        </div>


                        <div class="form-row my-3">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">SignUp</button>
                        </div>

                        <div class="text-center my-1">
                            Already have an account ? <br> <a href="/login">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
