<%- include('header.ejs') %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <title>Document</title>

</head>

<style>
  body {
    background-attachment: rgb(249, 249, 249);
  }

  select {
    width: 250px !important;
  }

  table,
  thead,
  td,
  th,
  tr {
    border: 2px solid rgb(141, 145, 148);
  }

  i {
    color: rgb(141, 145, 148);
  }

  .table-1 thead {
    background-color: rgb(224, 240, 254);
    font-size: 17px;
    text-align: center;

  }

  .table-1 tbody {
    background-color: rgb(241, 242, 237);

  }

  tbody {
    vertical-align: middle !important;
    font-size: 15px;
    text-align: center;
    /* font-weight: 400; */
  }

  table tbody p {
    padding: 3px;
    margin: 5px 5px;
    border-radius: 12px;
    width: 56px !important;
    height: 25px;
    text-align: center;
    display: inline-block;
    font-size: 14px;

  }

  td .btn {
    background-color: rgb(99, 154, 5) !important;
  }

  i {
    font-weight: none !important;
  }

  .table-2 thead {
    background-color: rgb(233, 234, 231) !important;
  }

  /* for last container */
  .job-details input , select {
    width: 280px !important;
    height: 42px;
  }
  .job-details select option input{
    display: inline-block;
  }
  .msg input{
    width: 550px;
    height: 40px !important;
    
  }
  .icons i {
    transform: translate(50px 50px);
  }
  .icons i{
    background-color: rgb(99, 154, 5) !important;
    color: white;
    padding: 5px;

  }

  .order-actions .btn{
    color: rgb(99, 154, 5) !important;
    border: 1px solid  rgb(99, 154, 5) !important;
    width: 200px;
    height: 40px;

  }
</style>

<body>

  <div class="container-fluid mt-5 ">
    <h2 class="text-center fw-bold">SPS Dashboard</h2>
    <div class="row p-4" style="margin-top: 50px;">
      <div class="col-lg-6 d-flex">
        <div class="">
          <div class="job-status d-flex align-items-center mx-3">
            <div class="label">
              Job Status
            </div>
            <div class="label mx-2">
              <select name="status" id="status" class="form-select">
                <option value="">Executive not assigned</option>
                <option value="">Undres process</option>
                <option value="">Undres review</option>
                <option value="">Draft delivered</option>
                <option value="">Finalized</option>
              </select>
            </div>
          </div>
        </div>
        <div class="">
          <div class="job-status d-flex align-items-center mx-3">
            <div class="label ">
              Payment Status
            </div>
            <div class="label mx-2">
              <select name="status" id="status" class="form-select">
                <option value="">Pending payment</option>
                <option value="">Paid</option>

              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="">
          <div class="job-status d-flex align-items-center mx-3">
            <div class="label mx-2">
              Search
            </div>
            <div class="label mx-2">
              <select name="status" id="status" class="form-select">
                <option value="">Project no</option>
                <option value="">Job no</option>
                <option value="">Book name</option>
                <option value="">Client name</option>
                <option value="">Email</option>
              </select>
            </div>
            <div class="label mx-3">
              <input type="text" name="name" id="name" class="form-control" placeholder="Enter Job No">
            </div>
            <div class="label mx-3">
              <button class="btn btn-outline-success">Submit</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row p-5" style="margin-top: -30px;">
      <table class="table table-1 ">
        <thead>
          <tr class="fw-bolder">
            <th class="fw-bolder">Project No.</th>
            <th class="fw-bolder">Client Name</th>
            <th class="fw-bolder">Book Name</th>
            <th class="fw-bolder">Project Due Date</th>
            <th class="fw-bolder" rowspan="5"> Service Opted</th>
            <th class="fw-bolder" class="fw-bolder">Currency</th>
            <th class="fw-bolder">Amout</th>
            <th class="fw-bolder">Payment Status</th>
            <th class="fw-bolder">Project Status</th>
            <th rowspan="2" th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td class="fw-bold">12542</td>
            <td>ABC</td>
            <td>Book of client</td>
            <td>6:00 PM , 10 APR 2023</td>
            <td class="text-start">
              <p style="background-color: rgb(226,194,245);">CD</p>
              <p style="background-color: rgb(165,220,223);">TS</p>
              <p style="background-color: rgb(222,223,165);">ED</p>
              <p style="background-color: rgb(223,165,165);">QL</p>
              <p style="background-color: rgb(165,223,171);">BR</p> <br>
              <p style="background-color: rgb(194,245,236);">AP</p>
              <p style="background-color: rgb(165,171,223);">CP</p>
              <p style="background-color: rgb(223,204,165);">BW</p>
              <p style="background-color: rgb(165,223,202);">ISBN</p>
              <p style="background-color: rgb(212,165,223);">DR</p> <br>
              <p style="background-color: rgb(165,223,171) ;">PR</p>
              <p style="background-color: rgb(210,211,220);">AB</p>
              <p style="background-color: rgb(145,200,239);"> MK</p>
              <p style="background-color: rgb(145,200,239);">PR</p>
            </td>
            <td>USD</td>
            <td>150</td>
            <td>Paid</td>
            <td>In Process</td>
            <td class="d-flex flex-column " style="border: none;">
              <button class="btn btn-success">Mark as paid</button>
              <hr>
              <button class="btn btn-success ">Complete</button>
            </td>
            <td> <i class="fas fa-angle-down fs-4"></i> </td>
          </tr>
          <!-- <tr class="">
            <td class="fw-bold">12542</td>
            <td>ABC</td>
            <td>Book of client</td>
            <td>6:00 PM , 10 APR 2023</td>
            <td class="text-start"><p style="background-color: rgb(226,194,245);">CD</p> <p style="background-color: rgb(165,220,223);">TS</p> <p style="background-color: rgb(222,223,165);">ED</p> <p style="background-color: rgb(223,165,165);">QL</p> <p style="background-color: rgb(165,223,171);">BR</p> <br> <p style="background-color: rgb(194,245,236);">AP</p> <p style="background-color: rgb(165,171,223);">CP</p> </td>
            <td>USD</td>
            <td>150</td>
            <td>Paid</td>
            <td>In Process</td>
            <td class="d-flex flex-column " style="border: none;">
              <button class="btn btn-success">Mark as paid</button>
              <hr>
              <button class="btn btn-success ">Complete</button>
            </td>
            <td>  <i class="fas fa-angle-down fs-4"></i> </td>
          </tr>
          <tr class="">
            <td class="fw-bold">12542</td>
            <td>ABC</td>
            <td>Book of client</td>
            <td>6:00 PM , 10 APR 2023</td>
            <td class="text-start"><p style="background-color: rgb(226,194,245);">CD</p> <p style="background-color: rgb(165,220,223);">TS</p> <p style="background-color: rgb(222,223,165);">ED</p> <p style="background-color: rgb(223,165,165);">QL</p> <p style="background-color: rgb(165,223,171);">BR</p> <br> <p style="background-color: rgb(194,245,236);">AP</p> <p style="background-color: rgb(165,171,223);">CP</p> <p style="background-color: rgb(223,204,165);">BW</p> <p style="background-color: rgb(165,223,202);">ISBN</p> <p style="background-color: rgb(212,165,223);">DR</p> <br> </td>
            <td>USD</td>
            <td>150</td>
            <td>Paid</td>
            <td>In Process</td>
            <td class="d-flex flex-column " style="border: none;">
              <button class="btn btn-success">Mark as paid</button>
              <hr>
              <button class="btn btn-success ">Complete</button>
            </td>
            <td>  <i class="fas fa-angle-down fs-4"></i> </td>
          </tr> -->
        </tbody>
      </table>
      <table class="table table-2" style="margin-top: -19px;">
        <thead>
          <tr>
            <th>Job No.</th>
            <th>Prev.Job No.</th>
            <th>Service Type</th>
            <th>Order Type</th>
            <th>Word count </th>
            <th>Payment Status </th>
            <th>Created Date </th>
            <th>Client due date </th>
            <th>Extended due date </th>
            <th>Executive due date </th>
            <th>Executive Name </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12345</td>
            <td>0</td>
            <td>Cover Design</td>
            <td>Draft</td>
            <td>4500</td>
            <td>Paid</td>
            <td>6:00 PM 26 Feb 2023</td>
            <td>6:00 PM 27 Mar 2023</td>
            <td>-</td>
            <td>6:00 PM 27 Mar 2023</td>
            <td>ABC </td>
            <td> [-] </td>
          </tr>
        </tbody>
      </table>
      <div class="row my-2 ms-1 border border-3 p-5">
        <div class="col-md-5 ms-5 text-start">

          <div class="job-details border border-2 border-primary">

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">job #</div>
              <div class="col-5">123456</div>
            </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Prev job #</div>
                <div class="col-5">123456</div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Delivery Email</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="ajay@test.com">
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Customer Due Date</div>
                <div class="col-5">25 Oct 2023 , 06:00 PM</div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Extended Due Date</div>
                <div class="col-5">25 Oct 2023 , 06:00 PM</div>
              </div>
              
              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Reason for extension</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="Editor asked for more time">
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Order date</div>
                <div class="col-5">25 Oct 2023 , 06:00 PM</div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Payment Status</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">Paid</option>
                    <option value="null">Unpaid</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Payment Date</div>
                <div class="col-5">25 Oct 2023 , 06:00 PM</div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Currency</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">USD</option>
                    <option value="null">INR</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Amout</div>
                <div class="col-5">150</div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Job Status</div>
                <div class="col-5">In Process</div>
              </div>

              <hr>  <!-- second row -->

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Book Title</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="Come Surf With Us">

                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Book Subtitle</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="7Ps of life to a renewed mind">

                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Genere</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">Young Adult 1</option>
                    <option value="null">Young Adult 2</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Country of publishing</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">United States</option>
                    <option value="null">India</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Year of publishing</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">2022</option>
                    <option value="null">2023</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Book size</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">6" x 9" (152 x 229 mm)</option>
                    <option value="null">3" x 5" (152 x 229 mm)</option>
                    <option value="null">2023</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Spine size</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="ajay@test.com">

                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Book type</div>
                <div class="col-5">
                  <select name="name" id="name" class="form-select">
                    <option value="null">select an option</option>
                    <option value="null">2022</option>
                    <option value="null">2023</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">No of pages</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="300">

                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <div class="col-5">Word count</div>
                <div class="col-5">
                  <input type="text" name="name" id="name" class="form-control" value="7500">

                </div>
              </div>

             <hr>  <!-- third row -->

             <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Salutation</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="MR">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">First Name</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="George">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Middle Name</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="RR">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Last Name</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="Last name">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Customer E-mail</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="abc@de.com">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Phone #</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="+1234567890">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Postal address</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="UMrika">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Pet name</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="Penny">

              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Website Name</div>
              <div class="col-5">
                <input type="text" name="name" id="name" class="form-control" value="www.website.com">

              </div>
            </div>

          <hr>  <!--fouth row  -->

          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">Links to references</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" value="www.website.com">

            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">Other text or blurb for front cover</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" value="Haven't thought of it.">

            </div>
          </div>

      

          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">Text for book spine</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" value="-">

            </div>
          </div>

    

          <div class="d-flex justify-content-center  mt-4">
            <div class="col-5">Description for your cover design </div>
            <div class="col-5 text-start">
              <textarea type="text" rows="5" class="form-control text-start" >
              i would like my cover design to be a collage of my morning fb post that relevant to my book this is also relevant to my fb group, and its original.  
              </textarea>

            </div>
          </div>


          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5 ">Additioanl comments</div>
            <div class="col-5 ">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">What needs improvements</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">ISBN Paperbook</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">ISBN Hardcover</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">ISBN Ebook</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">ISBN Audibook</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">QC Notes</div>
            <div class="col-5">
              <input type="text" name="name" id="name" class="form-control" >

            </div>
          </div>

          </div>

          <div class="file-details border border-2 border-primary my-4">
            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Ebook</div>
              <div class="col-5">
                <a href="#" class="text-primary fw-bold">Upload</a>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Paperbook</div>
              <div class="col-5">
                <a href="#" class="text-primary fw-bold">Upload</a>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Hardcover</div>
              <div class="col-5">
                <a href="#" class="text-primary fw-bold">Upload</a>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="col-5">Audibook</div>
              <div class="col-5">
                <a href="#" class="text-primary fw-bold">Upload</a>
              </div>
            </div>

             
          </div>
        </div>


        <div class="col-md-5 offset-md-1 border border-1 border-primary">
        
          <div class="notes  ">

            <div class="name fw-bold my-1">
              Nayana Waghaye
            </div>
            <div class="desgn fw-bold my-1">
              Operations Executive
        </div>
        <div class="desgn fw-light my-1">
          25 Oct 2023 , 06:00 PM
        </div>
        <div class="desgn fw-light mt-3">
          Priority : <span>Normal</span>
        </div>
        <div class="desgn fw-light mt-3">
          Tentative delivery date : <span>11 August 2023</span>
        </div>
        <div class="desgn fw-light mt-3">
          Details : <br>
          This is an order for typesetting and cover design sample. Please provide 3 Samples of typesetting and 3 Samles of cover design of the first five pages. (You can put dummy ISBN, dummy blurb and dummy barcode for the time being)
        </div>

        <div class=" send-note d-flex mt-3">
          <div class="msg">
            <input type="text" class="form-control " placeholder="Add Note...">
          </div>
          <div class="icons ms-3">
            
            <i class="fas fa-paper-plane fa-2x"></i>
          </div>
        </div>
          
        </div>
        <div class="file-details border border-1 border-primary my-4">
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">Executive name</div>
            <div class="col-5">
              <a href="#" class="text-primary fw-bold">ABC</a>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">Executive due date</div>
            <div class="col-5">
              <a href="#" class="text-primary fw-bold">25 Oct 2023 , 06:00 PM</a>
            </div>
          </div>
        

           
        </div>
        <div class="order-actions border border-1 border-primary my-4">
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">
              <button class="btn btn-outline-success">Mark as paid</button>
            </div>
            <div class="col-5">
              <button class="btn btn-outline-success">Deliver to customer</button>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">
              <button class="btn btn-outline-success">File requriements</button>

            </div>
            <div class="col-5">
              <a href="#" class="text-primary fw-bold">
                <button class="btn btn-outline-success">Raise a revision</button>

              </a>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">
              <button class="btn btn-outline-success">Assign</button>

            </div>
            <div class="col-5">
              <a href="#" class="text-primary fw-bold">
                <button class="btn btn-outline-success">Finalize</button>

              </a>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="col-5">
              <button class="btn btn-outline-success">Send back to executive</button>

            </div>
            <div class="col-5">
              <a href="#" class="text-primary fw-bold">
                <button class="btn btn-outline-success">Complete</button>

              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

</body>

</html>